body {
  margin: 0;
  font-family: roboto, sans-serif;
  color: #757575;
  letter-spacing: 0.03em;
  font-size: 14px;
}

h1,
h2,
h3,
p,
ul,
a {
  margin: 0;
  padding: 0;
}

h2,
h3 {
  color: #212121;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  /* outline: 2px solid black; */
}

.relative {
  position: relative;
  overflow: hidden;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex--gap {
  gap: 30px;
}

.is-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border: 2px solid #2196F3;
  border-radius: 2px;
}

.second-header {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.logo {
  margin-right: 93px;
  color: #2196F3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo--black {
  color: #000000;
}
.logo--white {
  color: #ffffff;
}
.footerAddr .logo {
  display: inline-block;
  margin: 0 0 20px 0;
}

.header {
  border: 1px solid #ECECEC;
}

.siteNav__item:not(:last-child) {
  margin-right: 40px;
}
.siteNav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.siteNav__link.is-active {
  color: #2196F3;
}
.siteNav__link:hover, .siteNav__link:focus {
  color: #2196F3;
}

.mailTel {
  margin-left: auto;
  color: #757575;
}
.mailTel__header {
  color: #757575;
  font-weight: 500;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mailTel__header:hover, .mailTel__header:focus {
  color: #2196F3;
}
.mailTel__item:first-child {
  margin-right: 50px;
}
.mailTel__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  background-color: #2F303A;
  max-width: 1600px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero .container {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero__header {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero__button {
  min-width: 216px;
  height: 50px;
  border-radius: 4px;
  border-color: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196F3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188CE8;
  cursor: pointer;
}

.benefit .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefit__list {
  height: 248px;
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}
.benefit__imageContainer {
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}
.benefit__header {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
}
.benefit__text {
  line-height: 1.71;
}

.we-do .container {
  padding-bottom: 94px;
}
.we-do__text {
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}
.team .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team__image {
  margin-bottom: 30px;
}
.team__member {
  width: 270px;
  background-color: var(--primary-bg-color);
  padding-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.team__insta {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 32px;
  margin-right: 32px;
}
.team__link {
  -ms-flex-line-pack: center;
      align-content: center;
  display: inline-block;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: var(--primary-bg-color);
  overflow: hidden;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:hover, .team__link:focus {
  background-color: #2196F3;
  border-radius: 50%;
}
.team__icon {
  height: 44px;
  width: 44px;
  padding: 12px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__icon:hover, .team__icon:focus {
  fill: #ffffff;
}
.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team__text {
  font-size: 16px;
  line-height: 1.19;
  padding-bottom: 16px;
}

.clients .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__list {
  display: block;
  height: 92px;
}
.clients__link {
  display: inline-block;
  height: 92px;
  width: 170px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: #2196F3;
  fill: #2196F3;
  border: 1px solid #2196F3;
}
.clients__icon {
  height: 92px;
  width: 170px;
  padding: 16px 32px;
  fill: currentColor;
}

.footer {
  height: 252px;
  background-color: #2F303A;
}
.footerAddr {
  margin-top: 60px;
}
.footer__address {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

.mailTel__footer {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 9px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}
.mailTel__footer:hover, .mailTel__footer:focus {
  color: #2196F3;
}

.join {
  margin-left: 70px;
  margin-top: 72px;
}
.join__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
}
.join__insta {
  margin-top: 20px;
  gap: 10px;
}
.join__link {
  -ms-flex-line-pack: center;
      align-content: center;
  display: inline-block;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join__link:hover, .join__link:focus {
  background-color: #2196F3;
}
.join__icon {
  height: 44px;
  width: 44px;
  padding: 12px;
  fill: #ffffff;
}

.subscribe {
  margin-top: 72px;
  margin-left: auto;
}
.subscribe__form {
  margin-top: 20px;
}
.subscribe__input {
  height: 50px;
  width: 358px;
  padding-left: 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__button {
  gap: 10px;
  height: 50px;
  width: 200px;
  background-color: #2196F3;
  margin-left: 12px;
  padding: 10px 28px;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__button:hover, .subscribe__button:focus {
  background-color: #188CE8;
}
.subscribe__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  font-family: roboto, sans-serif;
}

.form__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  min-height: 500px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.backdrop.is-hidden .modal {
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.modal__header {
  text-align: center;
}
.modal-button {
  position: absolute;
  display: border-box;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover, .modal-button:focus {
  color: #2196F3;
}
.modal-button__icon {
  height: 18px;
  width: 18px;
  fill: currentColor;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 12px;
}
.modal-form__text {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}
.modal-form__icon {
  position: absolute;
  top: 30px;
  left: 12px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  color: #212121;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__textarea {
  resize: none;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
.modal-form__agree-block {
  margin-left: auto;
  margin-right: auto;
}
.modal-form__agree-link {
  color: #2196F3;
  text-decoration: underline;
}
.modal-form__submit-button {
  height: 50px;
  width: 200px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__submit-button:hover, .modal-form__submit-button:focus {
  background-color: #188CE8;
}

.modal-form__input:not(:-moz-placeholder-shown) + .modal-form__icon {
  fill: #2196F3;
}

.modal-form__input:not(:-ms-input-placeholder) + .modal-form__icon {
  fill: #2196F3;
}

.modal-form__label:focus-within > .modal-form__icon,
.modal-form__input:not(:placeholder-shown) + .modal-form__icon,
.modal-form__label:hover > .modal-form__icon {
  fill: #2196F3;
}

.modal-form__input:not(:-moz-placeholder-shown) {
  border-color: #2196F3;
}

.modal-form__input:not(:-ms-input-placeholder) {
  border-color: #2196F3;
}

.modal-form__label:focus-within > .modal-form__input,
.modal-form__input:not(:placeholder-shown),
.modal-form__label:hover > .modal-form__input {
  border-color: #2196F3;
}

.custom-checkbox {
  height: 16px;
  width: 16px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  overflow: hidden;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.visually-hidden:checked + .custom-checkbox {
  background-color: #2196F3;
  border-color: #2196F3;
}
.custom-checkbox__icon {
  position: absolute;
  top: -2px;
  left: -2px;
  fill: #ffffff;
}/*# sourceMappingURL=main.css.map */