:root {
--primary-bg-color: #ffffff;
--secondary-bg-color: #2F303A;
--head-color: #212121;
--text-color: #757575;
--hover-color: #2196F3;
}

body {
    margin: 0;

    font-family: roboto, sans-serif;
    color: var(--text-color);
    letter-spacing: 0.03em;
    font-size: 14px;
}

h1, h2, h3, p, ul, a {
    margin: 0;
    padding: 0;
}

h2, h3 {
    color: var(--head-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    /* outline: 2px solid black; */
}

/* ----------HEADER*---------- */

header {
    border: 1px solid #ECECEC;
}

.all-nav {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.main-nav {
    display: flex;
    align-items: center;
}

.logo {
    /* margin: 24px 93px 25px 0; */
    margin-right: 93px;

    color: var(--hover-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2em;
}

.logo-header {
    color: #000000;
}

.site-nav {
    display: flex;
}

.site-nav .item:not(:last-child) {
    margin-right: 40px;
}

.navigation{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--head-color);
    font-weight: 500;
}

.navigation:hover, 
.navigation:focus,
.mail-tel-header:hover,
.mail-tel-header:focus,
.mail-tel-footer:hover,
.mail-tel-footer:focus {
    color: var(--hover-color);
}

.mail-tel {
    display: flex;
    margin-left: auto;
}

.mail-tel li:first-child {
    margin-right: 50px;
}

.mail-tel-header {
    color: var(--text-color);
    font-weight: 500;
}

/* ----------FOOTER---------- */

footer {
    background-color: var(--secondary-bg-color);
}

footer .container {
    padding-top: 60px;
    padding-bottom: 60px;
}

footer .logo {
    display: inline-block;
    margin: 0 0 20px 0;
}

.logo-footer {
    color: #ffffff;
}

.address,
.mail-tel-footer {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
}

.address {
    color: #ffffff;
    font-style: normal;
}

.mail-tel-footer {
    color: rgba(255, 255, 255, 0.6);
}

/* ----------INDEX MAIN---------- */

.hero{
    text-align: center;
    background-color: var(--secondary-bg-color);
}

.hero .container {
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero h1 {
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero button {
    min-width: 216px;
    height: 50px;
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 32px;
    /* text-align: center; */
    /* display: inline-block; */
    /* margin-left: auto; */
    /* margin-right: auto; */

    font-family: roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
}

.hero button:hover,
.hero button:focus {
    background-color: #188CE8;
}

.benefit .container,
.team .container {
padding-top: 94px;
padding-bottom: 94px;
}

.benefit-flex {
    display: flex;
    /* justify-content: space-between; */
}

.benefit-flex li {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
    /* flex-basis: calc((100% - 90px) / 4); */
}

.benefit-flex li:last-child {
    margin-right: 0;
}

.benefit h3 {
    margin-bottom: 10px;

    font-weight: 700;
    line-height: 1.14;
}

.benefit p {
    line-height: 1.71;
}

.we-do .container {
    padding-bottom: 94px;
}

.we-do-flex,
.team-flex {
    display: flex;
    column-gap: 30px;
}

.we-do h2,
.team h2 {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.team {
    background-color: #F5F4FA;
}

.team-member img {
    margin-bottom: 30px;
}

.team-member {
    width: 270px;
    background-color: #FFFFFF;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}

.team h3 {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team p {
    font-size: 16px;
    line-height: 1.19;
}

/* ----------PORTFOLIO MAIN---------- */

.portfolio .container {
    padding-top: 73px;
    padding-bottom: 115px;
}
.portfolio .p-folio-buttons {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.p-folio-button {
    height: 38px;
    border-radius: 4px;
    border-color: transparent;
    padding: 6px 32px;
    display: inline-block;

    background: #F5F4FA;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--head-color);
}

.p-folio-button:hover,
.p-folio-button:focus {
    background-color: var(--hover-color);
    color: #FFFFFF;
    cursor: pointer;
}

.projects {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.project-list li {
    flex-basis: calc((100% - 60px) / 3);
}

.project-list img {
    display: block;
}

.project-list h2 {
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.project-list p {
    font-size: 16px;
    line-height: 1.88;
    color: var(--text-color);
}

