:root {
--primary-bg-color: #ffffff;
--secondary-bg-color: #2F303A;
--head-color: #212121;
--text-color: #757575;
--hover-color: #2196F3;
}

body {
    font-family: roboto, sans-serif;
    color: var(--text-color);
    letter-spacing: 0.03em;
    font-size: 14px;
}

h2, h3 {
    color: var(--head-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ----------HEADER*---------- */

.logo {
    color: var(--hover-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2em;
}

.logo-header {
    color: #000000;
}

.navigation{
    color: var(--head-color);
    font-weight: 500;
}

.navigation:hover, 
.navigation:focus,
.mail-tel-header:hover,
.mail-tel-header:focus,
.mail-tel-footer:hover,
.mail-tel-footer:focus {
    color: var(--hover-color);
}

.mail-tel-header {
    color: var(--text-color);
    font-weight: 500;
}

/* ----------FOOTER---------- */

footer {
    background-color: var(--secondary-bg-color);
}

.logo-footer {
    color: #ffffff;
}

.address,
.mail-tel-footer {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
}

.address {
    color: #ffffff;
    font-style: normal;
}

.mail-tel-footer {
    color: rgba(255, 255, 255, 0.6);
}

/* ----------INDEX MAIN---------- */

.hero {
    background-color: var(--secondary-bg-color);
}
.hero > h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero > button {
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
}

.hero>button:hover,
.hero>button:focus {
    background-color: #188CE8;
}

.benefit h3 {
    font-weight: 700;
    line-height: 1.14;
}

.benefit p {
    line-height: 1.71;
}

.we-do h2,
.team h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.team {
    background-color: #F5F4FA;
}

.team-member {
    background-color: #FFFFFF;
}

.team h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team p {
    font-size: 16px;
    line-height: 1.19;
}

/* ----------PORTFOLIO MAIN---------- */

.p-folio-button {
    background: #F5F4FA;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--head-color);
}

.p-folio-button:hover,
.p-folio-button:focus {
    background-color: var(--hover-color);
    color: #FFFFFF;
    cursor: pointer;
}

.project-list h2 {
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.project-list p {
    font-size: 16px;
    line-height: 1.88;
    color: var(--text-color);
}