
/* 250ms cubic-bezier(0.4, 0, 0.2, 1) */

:root {
--primary-bg-color: #ffffff;
--secondary-bg-color: #2F303A;
--third-bg-color: #f5f4fa;
--head-color: #212121;
--text-color: #757575;
--icon-color: #afb1b8;
--hover-color: #2196F3;
--hover-button-color: #188CE8;

}

body {
    margin: 0;
    font-family: roboto, sans-serif;
    color: var(--text-color);
    letter-spacing: 0.03em;
    font-size: 14px;
}

h1, h2, h3, p, ul, a {
    margin: 0;
    padding: 0;
}

h2, h3 {
    color: var(--head-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    /* outline: 2px solid black; */
}

.relative {
    position: relative;
    overflow: hidden;
}

.flex {
    display: flex;
    align-items: center;
}

.flex--gap {
    gap: 30px;
}

/* ----------HEADER*---------- */

.header {
    border: 1px solid #ECECEC;
}

.logo {
    /* margin: 24px 93px 25px 0; */
    margin-right: 93px;

    color: var(--hover-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo--black {
    color: #000000;
}

.siteNav__item:not(:last-child) {
    margin-right: 40px;
}

.is-active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border: 2px solid var(--hover-color);
    border-radius: 2px;
}

.siteNav__link.is-active {
    color: var(--hover-color);
}

.siteNav__link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--head-color);
    font-weight: 500;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.siteNav__link:hover, 
.siteNav__link:focus,
.mailTel__header:hover,
.mailTel__header:focus,
.mailTel__footer:hover,
.mailTel__footer:focus {
    color: var(--hover-color);
}

.mailTel {
    margin-left: auto;
    color: var(--text-color);
}

.mailTel__item:first-child {
    margin-right: 50px;
}

.mailTel__header {
    color: var(--text-color);
    font-weight: 500;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailTel__icon {
    margin-right: 10px;
    fill: currentColor;
}

/* ----------FOOTER---------- */

.footer {
    height: 252px;
    background-color: var(--secondary-bg-color);
}

.footerAddr .logo {
    display: inline-block;
    margin: 0 0 20px 0;
}

.logo--white {
    color: var(--primary-bg-color);
}

.footer__address,
.mailTel__footer {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
}

/* .mailTel__footer:hover,
.mailTel__footer:focus {
    color: $hoverColor;
} */

.footer__address {
    color: var(--primary-bg-color);
    font-style: normal;
}

.mailTel__footer {
    display: inline-block;
    color: rgba(255, 255, 255, 0.6);
    padding-top: 9px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.footerAddr {
    margin-top: 60px;
}

.join {
    margin-left: 70px;
    margin-top: 72px;
}

.join__header,
.form__header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--primary-bg-color);
    text-transform: uppercase;
}

.join__insta {
    margin-top: 20px;
    gap: 10px;
}

.join__link {
    align-content: center;
    display: inline-block;
    height: 44px;
    width: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.join__link:hover,
.join__link:focus {
    background-color: var(--hover-color);
}

.join__icon {
    height: 44px;
    width: 44px;
    padding: 12px;
    fill: var(--primary-bg-color);
}

.subscribe {
    margin-top: 72px;
    margin-left: auto;
}

.subscribe__form {
    margin-top: 20px;
}

.subscribe__input {
    height: 50px;
    width: 358px;
    padding-left: 16px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe__button {
    gap: 10px;
    height: 50px;
    width: 200px;
    background-color: var(--hover-color);
    margin-left: 12px;
    padding: 10px 28px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__button:hover,
.subscribe__button:focus {
    background-color: var(--hover-button-color);
}

.subscribe__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-bg-color);
    font-family: roboto, sans-serif;
}

/* ----------INDEX MAIN---------- */

.hero {
    background-color: var(--secondary-bg-color);
    max-width: 1600px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero .container {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero__header {
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-bg-color);
}

.hero__button {
    min-width: 216px;
    height: 50px;
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 32px;

    font-family: roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-bg-color);
    background-color: #2196F3;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
    background-color: var(--hover-button-color);
    cursor: pointer;
}

.benefit .container,
.team .container {
padding-top: 94px;
padding-bottom: 94px;
}

.benefit__list {
    height: 248px;
    flex-basis: calc((100% - 90px) / 4);
}


.benefit__imageContainer {
    height: 120px;
    padding: 25px 100px;
    margin-bottom: 30px;
    background-color: var(--third-bg-color);
}

.benefit__header {
    margin-bottom: 10px;

    font-weight: 700;
    line-height: 1.14;
}

.benefit__text {
    line-height: 1.71;
}

.we-do .container,
.clients .container {
    padding-bottom: 94px;
}

.second-header {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.we-do__text {
    display: inline-block;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-bg-color);
    padding-top: 27px;
    padding-bottom: 27px;
    background: rgba(47, 48, 58, 0.8);
}

.team {
    background-color: var(--third-bg-color);
}

/* .team .container {
    padding-top: 94px;
    padding-bottom: 94px;
} */

.team__image {
    margin-bottom: 30px;
}

.team__member {
    width: 270px;
    background-color: var(--primary-bg-color);
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}

.team__insta {
    /* display: flex; */
    justify-content: space-around;
    margin-left: 32px;
    margin-right: 32px;
}

.team__link {
    align-content: center;
    display: inline-block;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: var(--primary-bg-color);
    overflow: hidden;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link:hover,
.team__link:focus {
    background-color: var(--hover-color);
    border-radius: 50%;
}

.team__icon {
    height: 44px;
    width: 44px;
    padding: 12px;
    fill: var(--icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__icon:hover,
.team__icon:focus {
    fill: var(--primary-bg-color);
}

.team__name {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team__text {
    font-size: 16px;
    line-height: 1.19;
    padding-bottom: 16px;
}

.clients .container {
    padding-top: 94px;
}
/* .clients .container {
    padding-bottom: 94px;
} */

.clients__list {
    display: block;
    height: 92px;
}

.clients__link {
    display: inline-block;
    height: 92px;
    width: 170px;
    color: var(--icon-color);
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
    height: 92px;
    width: 170px;
    padding: 16px 32px;
    fill: currentColor;
}

.clients__link:hover,
.clients__link:focus {
    color: var(--hover-color);
    fill: var(--hover-color);
    border: 1px solid var(--hover-color);
}

/*---------- MODAL WINDOW ----------*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    /* visibility: inherit; */
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 500px;
    padding: 40px;
    background-color: var(--primary-bg-color);
    border-radius: 4px;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal__header {
    text-align: center;
}

.backdrop.is-hidden .modal {
    opacity: 0;
    transform: translate(-50%, -50%);
        /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms; */
}

.modal-button {
    position: absolute;
    display: border-box;
    top: 8px;
    right: 8px;
    height: 30px;
    width: 30px;
    padding: 5px;
    background-color: var(--primary-bg-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    /* background-color: var(--hover-color); */
    /* border-color: var(--hover-color); */
    color: var(--hover-color);
}

.modal-button__icon {
    height: 18px;
    width: 18px;
    fill: currentColor;
}

.modal-form {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.modal-form__text {
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;
}

.modal-form__icon {
    position: absolute;
    top: 30px;
    left: 12px;
    fill: var(--head-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 10px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    color: var(--head-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__label:focus-within > .modal-form__icon,
.modal-form__input:not(:placeholder-shown) + .modal-form__icon,
.modal-form__label:hover > .modal-form__icon {
    fill: var(--hover-color);
}

.modal-form__label:focus-within > .modal-form__input,
.modal-form__input:not(:placeholder-shown),
.modal-form__label:hover > .modal-form__input {
    border-color: var(--hover-color);
}

.modal-form__textarea {
    resize: none;
    height: 120px;
    margin-top: 4px;
    margin-bottom: 20px;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
}

.modal-form__agree-block {
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden:checked + .custom-checkbox {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}

.custom-checkbox {
    /* box-sizing: border-box; */
    /* display: inline-block; */
    height: 16px;
    width: 16px;
    margin-right: 7px;
    border: 2px solid var(--head-color);
    border-radius: 2px;
    overflow: hidden;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-checkbox__icon {
    position: absolute;
    top: -2px;
    left: -2px;
    fill: var(--primary-bg-color);
}

.modal-form__agree-link {
    color: var(--hover-color);
    text-decoration: underline;
}

.modal-form__submit-button {
    height: 50px;
    width: 200px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-bg-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__submit-button:hover,
.modal-form__submit-button:focus {
    background-color: var(--hover-button-color);
}

/* ----------PORTFOLIO MAIN---------- */

.portfolio .container {
    padding-top: 73px;
    padding-bottom: 115px;
}
.p-folio-buttons {
    margin-bottom: 50px;
    justify-content: center;
    gap: 8px;
}

.p-folio-button {
    height: 38px;
    border-radius: 4px;
    border-color: transparent;
    padding: 6px 32px;
    display: inline-block;

    background-color: var(--third-bg-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--head-color);
    box-shadow: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.p-folio-button:hover,
.p-folio-button:focus {
    background-color: var(--hover-color);
    color: var(--primary-bg-color);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}

.projects {
    flex-wrap: wrap;
}

.projects__list {
    flex-basis: calc((100% - 60px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__header {
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.projects__list:hover,
.projects__list:focus {
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
0px 1px 1px rgba(0, 0, 0, 0.14), 
0px 2px 1px rgba(0, 0, 0, 0.2);
}

.project__text {
    font-size: 16px;
    line-height: 1.88;
    color: var(--text-color);
}

.project__hover-text {
    /* opacity: 0; */
    position: absolute;
    transform: translateY(100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1.56;
    color: var(--primary-bg-color);
    background-color: rgba(33, 150, 243, 0.9);;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover .project__hover-text,
.project__link:focus .project__hover-text {
    /* opacity: 1; */
    transform: translateY(0);
}

