.footer {
    min-height: 252px;
    background-color: $secondBGColor;

    .container {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &__flex {
        
        @media screen and (min-width: $mob) and (max-width: 767px){
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        
            @media screen and (min-width: $tab) {
                
            }
        
        @media screen and (min-width: $desk) {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &--tab {
            @media screen and (min-width: $tab) {
                display: flex;
                align-items: center;
            }
        }
        
    }

    &Addr {

        @media screen and (min-width: $tab) and (max-width: calc($desk - 1px) ) {
            display: inline-block;
            margin-left: 76px;
            // height: 140px;
        }
    }

    &__address {
        color: $primeBGColor;
        font-style: normal;
        font-weight: 400;
        line-height: 1.71;
       
        @media screen and (max-width: calc($desk - 1px) ) {
            text-align: center;
        }
    }
}

.mailTel__footer {
    display: inline-block;
    color: rgba(255, 255, 255, 0.6);
    padding-top: 9px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;

    &:hover, &:focus {
        color: $hoverColor;
    }
}

.join {
    

    &__header {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        color: $primeBGColor;
        text-transform: uppercase;

        @media screen and (max-width:  calc($desk - 1px) ) {
            text-align: center;
        }
    }

    &__insta {
        display: flex;
        align-items: center;
        
        margin-top: 20px;
        gap: 10px;

        @media screen and (max-width:  calc($desk - 1px) ) {
            justify-content: center;
            }
    }

    &__link {
        align-content: center;
        display: inline-block;
        height: 44px;
        width: 44px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover, &:focus {
            background-color: $hoverColor;
        }
    }

    &__icon {
        height: 44px;
        width: 44px;
        padding: 12px;
        fill: $primeBGColor;
    }

    @media screen and (min-width: $tab) and (max-width:  calc($desk - 1px) ) {
       display: inline-block;
    //    flex-direction: column;
    //    height: 140px;
       margin-left: 165px;
    //    padding-bottom: 42px;
    }

    @media screen and (min-width: $desk) {
        margin-left: 70px;
        // margin-top: 72px;
        }

    @media screen and (max-width: 767px) {
        margin-top: 60px;
        }
}

.subscribe {
    margin-top: 60px;

    &__form {
        margin-top: 20px;

        @media screen and (min-width: $desk) {
            display: flex;
            align-items: center;
        }
    }

    &__input {
        height: 50px;
        width: 100%;
        padding-left: 16px;
        background-color: inherit;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);

        @media screen and (min-width: $mob) {
            width: 450px;
            }
        
            @media screen and (min-width: $tab) {
            width: 450px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            }

        @media screen and (min-width: $desk) {
                width: 358px;
            }
    }

    &__button {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 50px;
        width: 200px;
        background-color: $hoverColor;
        margin: 20px auto 0px;

        padding: 10px 28px;
        cursor: pointer;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover, &:focus {
            background-color: $hoverBtnColor;
        }

        @media screen and (min-width: $desk) {
            margin-left: 12px;
            margin-top: 0;
        }
    }

    &__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $primeBGColor;
    font-family: roboto, sans-serif;
    }

        @media screen and (min-width: $desk) {
            // margin-top: 72px;
            margin-top: 0;
            margin-left: auto;
        }
}

.form__header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: $primeBGColor;
    text-transform: uppercase;

    @media screen and (max-width:  calc($desk - 1px) ) {
            text-align: center;
        }
}