.we-do {
    .container {
        padding-bottom: 94px;
    }

    &__text {
        display: inline-block;
        position: absolute;
        bottom: 0;
        width: 100%;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primary-bg-color);
        padding-top: 27px;
        padding-bottom: 27px;
        background: rgba(47, 48, 58, 0.8);
    }
}