.mobileMenu {
    // padding-top: 48px;
    // padding-bottom: 48px;
    // padding-left: 40px;
    padding: 48px 40px;

    &__backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        opacity: 0;
        pointer-events: none;
        
        &.is-open {
            opacity: 1;
            pointer-events: all;
        }

        @media screen and (min-width: calc($tab - 1px)) {
            display: none;
        }
    }

    &__openButton {
        position: absolute;
        top: 50%;
        right: 23px;
        transform: translateY(-50%);
        padding: 0;
        margin: 0;
        border: none;
        background-color: transparent;
        height: 40px;
        width: 40px;

        &:hover, &:focus {
            color: $hoverColor;
        }

        @media screen and (min-width: $tab) {
            display: none;
        }
    }

    &__openIcon {
        width: 24px;
        height: 16px;
        fill: currentColor;
    }

    &__closeButton {
        position: absolute;
        top: 7px;
        right: 23px;
        // transform: translateY(-50%);
        padding: 10px;
        margin: 0;
        border: none;
        background-color: transparent;
        height: 40px;
        width: 40px;
        
        &:hover,
        &:focus {
            color: $hoverColor;
        }
        
        @media screen and (min-width: $tab) {
            display: none;
        }
    }

    &__closeIcon {
        width: 20px;
        height: 20px;
        fill: currentColor;
        }

    &__listLink:not(:last-child) {
        margin-bottom: 32px;
    }

    &__MailTel {
        margin-top: 200px;
    }

    &__listMailTel:not(:last-child) {
        margin-bottom: 32px;
    }

    &__listInsta {
        display: flex;
        margin-top: 64px;
        flex-wrap: wrap;
    }

    &__link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.175;
        letter-spacing: 0.02em;
        color: $headColor;

        &:hover, &:focus {
            color: $hoverColor;
        }
    }

    &__tel {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: calc(40/34);
        letter-spacing: 0.02em;
        color: $hoverColor;
    }

    &__mail {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: calc(28/24);
        letter-spacing: 0.02em;
        color: $textColor;
    }

    &__insta {

        &:not(:last-child) {
            margin-right: 10px;

            &:after {
                content: '';
                border: 1px solid rgba(33, 33, 33, 0.2);
                margin-left: 10px;
            }
        }

        &Link {
            font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 1.22;
                letter-spacing: 0.02em;
                color: $hoverColor;
        }
    }
}