.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 500px;
    padding: 40px;
    background-color: $primeBGColor;
    border-radius: 4px;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;

    .backdrop.is-hidden & {
        opacity: 0;
        transform: translate(-50%, -50%);
    }

    &__header {
        text-align: center;
    }

    &-button {
        position: absolute;
        display: border-box;
        top: 8px;
        right: 8px;
        height: 30px;
        width: 30px;
        padding: 5px;
        background-color: $primeBGColor;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        cursor: pointer;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover, &:focus {
            color: $hoverColor;
        }

        &__icon {
            height: 18px;
            width: 18px;
            fill: currentColor;
        }
    }
}

.modal-form {
    display: flex;
    flex-direction: column;
    margin-top: 12px;

    &__text {
        font-size: 12px;
        line-height: calc(14/12);
        letter-spacing: 0.01em;
    }

    &__icon {
        position: absolute;
        top: 30px;
        left: 12px;
        fill: $headColor;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__input {
        display: block;
        width: 100%;
        height: 40px;
        margin-top: 4px;
        margin-bottom: 10px;
        padding-left: 42px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        cursor: pointer;
        color: $headColor;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__textarea {
        resize: none;
        height: 120px;
        margin-top: 4px;
        margin-bottom: 20px;
        padding: 12px 16px;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
    }

    &__agree-block {
        margin-left: auto;
        margin-right: auto;
    }

    &__agree-link {
        color: $hoverColor;
        text-decoration: underline;
    }

    &__submit-button {
        height: 50px;
        width: 200px;
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
        background-color: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        text-align: center;
        letter-spacing: 0.06em;
        color: $primeBGColor;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover, &:focus {
            background-color: $hoverBtnColor;
        }
    }
}

.modal-form__label:focus-within>.modal-form__icon,
.modal-form__input:not(:placeholder-shown)+.modal-form__icon,
.modal-form__label:hover>.modal-form__icon {
    fill: $hoverColor;
}

.modal-form__label:focus-within>.modal-form__input,
.modal-form__input:not(:placeholder-shown),
.modal-form__label:hover>.modal-form__input {
    border-color: $hoverColor;
}

.custom-checkbox {
    height: 16px;
    width: 16px;
    margin-right: 7px;
    border: 2px solid $headColor;
    border-radius: 2px;
    overflow: hidden;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .visually-hidden:checked+& {
        background-color: $hoverColor;
        border-color: $hoverColor;
    }

    &__icon {
        position: absolute;
        top: -2px;
        left: -2px;
        fill: $primeBGColor;
    }


}